 <div class="user-details">
  <h1> 关于我们</h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-nginx-original colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>

      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-apple-original"></i>
      <i class="devicon-github-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>



      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>

  <div class="user">
    <div class="tech">
      <h2>联合创始人</h2>
      <!-- <i class="devicon-nginx-original colored"></i> -->
      <div class="image-cropper">
  <img src="assets/img/testimonial-img-01.jpg" style="width:300px;height:300px;object-fit:cover;border-radius:50%;" />
</div>
  
      <p>Nulla dictum sem non eros euismod, eu placerat tortor lobortis. Suspendisse id velit eu libero pellentesque interdum. Etiam quis congue eros.</p>
    </div>
    <div class="tech">
      <h2>联合创始人</h2>
      <i class="devicon-swift-plain colored"></i>

      <p>This background image includes a semi-transparent overlay layer. This section also has a parallax image effect.</p>
    </div>
    <div class="tech">
      <h2>联合创始人</h2>
      <i class="devicon-git-plain colored"></i>

      <p>Testimonial section comes with carousel items. You can use Infinite Loop HTML CSS template for your websites</p>
    </div>
</div>