 <div class="user-details">
  <h1> 关于我们</h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>张天放</h2>
    <!-- <i class="devicon-nginx-original colored"></i> -->
    <img src="assets/img/img1.jpeg" style="object-fit:cover;border-radius:50%;" />
    <p>原京东高级算法工程师，拥抱开源，喜欢用技术解决实际问题👨🏻‍💻</p>
    <p><i>抛开立场看问题，透过现象看本质，不断对我们自身的思维进行思考，找到每个传统认知的元认知。</i></p>
  </div>
  <div class="tech">
    <h2>AmeloYi</h2>
    <img src="assets/img/ameloyi.jpg" style="object-fit:cover;border-radius:50%;" />
    <p>原华为高级工程师，全栈开发者</p>
    <p><i>Talk is cheap, show me your code.</i></p>
  </div>
  <div class="tech">
    <h2>花名三</h2>
    <img src="assets/img/testimonial-img-03.jpg" style="object-fit:cover;border-radius:50%;" />
    <p>Testimonial section comes with carousel items. You can use Infinite Loop HTML CSS template for your websites</p>
  </div>
</div>


